@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
  background: white;
}

ol, ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

* {
  font-family: 'Noto Sans TC', sans-serif;
}

.mx {
  margin-left: 10%;
  margin-right: 10%;
}

header a {
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  text-align: center;
}

header a img {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}

body {
  background-color: #e7d9cc;
}

.event-title {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.event-title img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.event-title img:first-child {
  display: block;
}

.event-title img:nth-child(2) {
  display: none;
}

.event-title div {
  margin-left: auto;
  margin-right: auto;
  height: 12px;
  background-color: #9c8a72;
}

.event-title div:nth-child(3) {
  width: 64%;
}

.event-title div:nth-child(4) {
  width: 40%;
}

.event-title h1 {
  font-size: 28px;
  line-height: 42px;
  color: #191919;
}

.event-title img, .event-title div, .event-title h1 {
  margin-bottom: 24px;
}

.event-title {
  margin-top: 40px;
}

.illstration {
  position: relative;
}

.illstration img:first-child {
  position: relative;
  z-index: -999;
}

.illstration img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -99;
}

.illstration img:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: none;
  margin: auto;
  z-index: -9;
  max-width: unset;
}

.order-tips {
  margin-left: 10%;
  margin-right: 10%;
}

.order-tips h2 {
  font-size: 36px;
  line-height: 54px;
  font-weight: bold;
  color: #3f3d56;
}

.order-tips .order-tips-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.order-tips .order-tips-info .order-tips-info-area {
  width: 100%;
}

.order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-content {
  background-color: rgba(245, 245, 245, 0.8);
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 16px;
  border: 1px solid #9c8a72;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-content p {
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
  color: #9c8a72;
}

.order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-content span {
  font-size: 16px;
  line-height: 24px;
  display: block;
}

.order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-content p, .order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-content span {
  padding-bottom: 16px;
}

.order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-dots {
  height: 40px;
  width: 100%;
  position: relative;
}

.order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-dots span {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: #9c8a72;
  display: block;
}

.order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-dots span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background-color: #7d6e5b;
}

.order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-dots:after {
  content: '';
  height: 1px;
  background-color: #9c8a72;
  z-index: -9;
}

.order-tips .order-tips-info .order-tips-info-area img {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: block;
}

.order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-content, .order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-dots, .order-tips .order-tips-info .order-tips-info-area img {
  margin-bottom: 48px;
}

.order-tips .order-tips-info .order-tips-info-area:first-child .order-tips-info-area-dots::after {
  position: absolute;
  top: 0;
  left: none;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
}

.order-tips .order-tips-info .order-tips-info-area:nth-child(2) .order-tips-info-area-dots::after, .order-tips .order-tips-info .order-tips-info-area:nth-child(3) .order-tips-info-area-dots::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}

.order-tips .order-tips-info .order-tips-info-area:last-child .order-tips-info-area-dots::after {
  position: absolute;
  top: 0;
  left: 0;
  right: none;
  bottom: 0;
  margin: auto;
  width: 50%;
}

.order-tips h2, .order-tips .order-tips-info {
  margin-bottom: 48px;
}

footer {
  background-color: whitesmoke;
  color: #969696;
  text-align: center;
}

footer p {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 1440px) {
  .mx {
    margin-left: 5%;
    margin-right: 5%;
  }
  .order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-content p {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (max-width: 1280px) {
  .order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-content p {
    font-size: 28px;
    line-height: 42px;
  }
}

@media (max-width: 1024px) {
  .order-tips .order-tips-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .order-tips .order-tips-info .order-tips-info-area {
    margin-top: 0;
    margin-bottom: 5%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgba(245, 245, 245, 0.8);
    width: 47.5%;
    border-radius: 16px;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  }
  .order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-content {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: unset;
    border: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-content p {
    font-size: 32px;
    line-height: 48px;
  }
  .order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-content span {
    padding-bottom: 0;
  }
  .order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-dots {
    display: none;
  }
  .order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-content, .order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-dots, .order-tips .order-tips-info .order-tips-info-area img {
    margin-bottom: 0px;
  }
  .order-tips .order-tips-info .order-tips-info-area:first-child {
    margin-left: 0;
    margin-right: auto;
  }
  .order-tips .order-tips-info .order-tips-info-area:nth-child(2) {
    margin-left: auto;
    margin-right: 0;
  }
  .order-tips .order-tips-info .order-tips-info-area:nth-child(3) {
    margin-left: 0;
    margin-right: auto;
  }
  .order-tips .order-tips-info .order-tips-info-area:last-child {
    margin-left: auto;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .event-title {
    margin-top: 0;
  }
  .event-title img:first-child {
    display: none;
  }
  .event-title img:nth-child(2) {
    display: block;
  }
  .event-title div {
    height: 4px;
  }
  .event-title h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .event-title img, .event-title div, .event-title h1 {
    margin-bottom: 16px;
  }
  .illstration {
    overflow-x: clip;
  }
  .illstration img:nth-child(3) {
    position: absolute;
    top: 0;
    left: -25%;
    right: -25%;
    bottom: none;
    margin: auto;
    min-height: 320px;
  }
  .order-tips h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .order-tips .order-tips-info .order-tips-info-area {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
  }
  .order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-content {
    margin-left: 16px;
    margin-right: 16px;
  }
  .order-tips .order-tips-info .order-tips-info-area .order-tips-info-area-content p {
    text-align: center;
  }
  .order-tips .order-tips-info .order-tips-info-area img {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .order-tips h2, .order-tips .order-tips-info {
    margin-bottom: 8px;
  }
}
/*# sourceMappingURL=style.css.map */