@import 'reset';
@import 'owl-carousel';
@import 'layout';
@import 'color';
@import 'fonts';
@import 'animation';
@import 'default';
@import 'screen';

//螢幕警語
.screen-alert{
    @include fixed(0, 0, 0, 0, auto);
    @include flex-col;
    background-color: $white;
    .screen-alert-content{
        @include m-x(auto, auto);
        @include m-y(auto, auto);
        @include flex-row;
        align-items: center;
        img{
            @include m-r(8px);
            height: 88px;
            max-height: 88px;
            width: 88px;
            min-width: 88px;
        }
        p{
            @include m-l(8px);
            @include font-n(16px);
            color: $black;
            span{
                display: block;
            }
        }
    }
}